### import pandas as pd
s=pd.Series(data,index,dtype)

In [4]:
import pandas as pd
s=pd.Series()
type(s)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

pandas.core.series.Series

In [5]:
s=pd.Series(['a','b','c'])
s

0    a
1    b
2    c
dtype: object

In [6]:
s=pd.Series(['a','b','c'],['i1','i2','i3'])     #Changing index
s

i1    a
i2    b
i3    c
dtype: object

In [7]:
s=pd.Series([i for i in range(0,9)],dtype="int64")  #changing data type
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

In [8]:
data={'a':1,'b':2,'c':3}      #series from dictionary
s=pd.Series(data)
s

a    1
b    2
c    3
dtype: int64

In [9]:
data={'a':1,'b':2,'c':3}      #series from dictionary
s=pd.Series(data, index=['b','a','c','d'])      #gives NaN 
s

b    2.0
a    1.0
c    3.0
d    NaN
dtype: float64

In [10]:
import numpy as np
s=pd.Series(5,np.arange(0,6))
s

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [11]:
s=pd.Series(5,[i for i in range(0,6)])
s

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [12]:
s[:3]            #printing specific number of first elements

0    5
1    5
2    5
dtype: int64

In [13]:
s[2]

5

In [14]:
s[[0,4]]   #printing specific indices

0    5
4    5
dtype: int64

## Dataframe: collection of series
df=pd.DataFrame(data,index,cols,datatype,copy)
by default, index is np.arrange(0,n)
copy is false

In [15]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df=pd.DataFrame([1,2,3,4,5,6])
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

####    PASSING 2D DATA

In [18]:
df=pd.DataFrame([['Slash',18],['Kirk',19]])
df

       0   1
0  Slash  18
1   Kirk  19

In [19]:
df=pd.DataFrame([['Slash',18],['Kirk',19]],columns=['Name','Age'],index=[1,2],dtype="float")  #specifying column names and indices
df

    Name   Age
1  Slash  18.0
2   Kirk  19.0

In [20]:
dict={'Name':['A','B','C'],'Age':[10,20,30]}          #Another way of making dictionary 
df=pd.DataFrame(dict)                                  #Columnwise data insertion
df

  Name  Age
0    A   10
1    B   20
2    C   30

In [21]:
#Adding data row-wise
data=[{'a':1,'b':5},{'a':3,'b':4,'c':7}]            #each bracket means one row
df=pd.DataFrame(data)
df

   a  b    c
0  1  5  NaN
1  3  4  7.0

In [22]:
data=[{'a':1,'b':5},{'a':3,'b':4,'c':7}]            
df=pd.DataFrame(data,columns=['a','b'])
df

   a  b
0  1  5
1  3  4

In [23]:
data=[{'a':1,'b':5},{'a':3,'b':4,'c':7}]           
df=pd.DataFrame(data,columns=['a','b','d'])
df

   a  b   d
0  1  5 NaN
1  3  4 NaN

In [26]:
df=df.append(pd.Series(),ignore_index=True) #adding new empty row
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

     a    b   d
0  1.0  5.0 NaN
1  3.0  4.0 NaN
2  NaN  NaN NaN

## Operations on Columns in dataframe

In [27]:
#displaying particular columns
df[['a','b']] #first pair of brackets denotes that indexing or slicing is going to tke place. Second one is used to pass multiple indices

     a    b
0  1.0  5.0
1  3.0  4.0
2  NaN  NaN

In [28]:
#adding column to dataframe
df['e']=pd.Series()
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

     a    b   d   e
0  1.0  5.0 NaN NaN
1  3.0  4.0 NaN NaN
2  NaN  NaN NaN NaN

In [29]:
#deleting a particular column
del df['d']
df

     a    b   e
0  1.0  5.0 NaN
1  3.0  4.0 NaN
2  NaN  NaN NaN

In [30]:
df.pop('b')
df

     a   e
0  1.0 NaN
1  3.0 NaN
2  NaN NaN

In [31]:
data={'one':pd.Series([10,15,30],index=['a','b','c']),'two':pd.Series([20,14,13],index=['a','c','b'])}            
df=pd.DataFrame(data)
df

   one  two
a   10   20
b   15   13
c   30   14

In [32]:
#loc and iloc
df.loc['b']      #used when name of the row is to be passed

one    15
two    13
Name: b, dtype: int64

In [33]:
df.iloc[1]  #used when index is to be passed

one    15
two    13
Name: b, dtype: int64

In [34]:
#using slicing and indexing  (used to get in dataframe)
df[1:2]

   one  two
b   15   13

In [35]:
#to get only first element
df.loc['b','one']

15

In [36]:
df.iloc[1,0]

15

In [37]:
#deleting rows
df.drop('b')

   one  two
a   10   20
c   30   14

## PANELS
pd.Panels(data,items,major-axis,minor-axis,dtype,copy)
major axis=rows
minor axis=cols

In [39]:
import numpy as np
data=np.random.rand(2,3,4)   #2,3,4 generates two layers of 3X4 matrices 
pan=pd.Panel()
pan

In [40]:
data=np.random.rand(5)
s=pd.Series(data)
s

0    0.222674
1    0.287427
2    0.858909
3    0.166399
4    0.589500
dtype: float64

In [41]:
s.axes

[RangeIndex(start=0, stop=5, step=1)]

In [42]:
s.ndim

1

In [43]:
s.empty

False

In [44]:
s.size

5

In [45]:
s.values

array([0.22267429, 0.28742661, 0.85890908, 0.16639947, 0.58949997])

In [46]:
s.head(2)  #first two elements printed

0    0.222674
1    0.287427
dtype: float64

In [47]:
s.tail(3)  #last 3 elements printed

2    0.858909
3    0.166399
4    0.589500
dtype: float64

In [48]:
data={'one':pd.Series([10,15,30],index=['a','b','c']),'two':pd.Series([20,14,13],index=['a','c','b'])}            
df=pd.DataFrame(data)
df.T       #transpose

      a   b   c
one  10  15  30
two  20  13  14

In [49]:
df.axes

[Index(['a', 'b', 'c'], dtype='object'), Index(['one', 'two'], dtype='object')]

In [50]:
df.dtypes

one    int64
two    int64
dtype: object

In [51]:
df.head

<bound method NDFrame.head of    one  two
a   10   20
b   15   13
c   30   14>

In [52]:
df.tail(2)

   one  two
b   15   13
c   30   14

In [53]:
df.empty

False

In [54]:
df.ndim

2

In [55]:
df.shape  #important

(3, 2)

In [56]:
df.size

6

In [57]:
df.values

array([[10, 20],
       [15, 13],
       [30, 14]])