##Lists, Tuples and Dictionaries

###A list is a data structure in python which is similar to array in c

In [8]:
list1=["apple","orange","mango","grapes"]   #creating a list
list1                                        #python automatically prints what's written at the last

['apple', 'orange', 'mango', 'grapes']

In [ ]:
print(list1[2])

Ashima

In [4]:
book=[]                                                 #creating an empty list
book.append("Pride and Prejudice")                      #adding elements to empty list

In [5]:
book

['Pride and Prejudice']

In [6]:
book.append("Jane Eyre")
book

['Pride and Prejudice', 'Jane Eyre']

In [7]:
book

['Pride and Prejudice', 'Jane Eyre']

###Dictionaries are used to store data values in key:value pairs.

In [ ]:
d={"key1":"value1","key2":"value2","key3":"value3","key4":"value4"}
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

**dictionary: another data structure in python which is a collection which is unordered... 
changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.**

In [9]:
d={"key1":"value1","key2":"value2","key3":"value3","key4":"value4"}
print("Ist value is %s" %(d["key1"]))                      #dictionary printing elements

Ist value is value1

In [10]:
#adding elements in the dictionary
d={"key1":"value1","key2":"value2","key3":"value3","key4":"value4"}
d['key5']="value5"#adding new element
d

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5'}

In [ ]:

thisTuple=("apple","orange","mango")
print(len(thisTuple))

3

###Tuples

A tuple is an immutable sequence of Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [ ]:
#tupleswithnegativeindexing
thisTuple=("apple","orange","mango") #-1prints last, -2 prints second last and so on
print(thisTuple[-1])

mango

In [ ]:
thisTuple=("apple","orange","mango","orange","orange") #printing range
print(thisTuple[2:5]) #item at position five is not printed

('mango', 'orange', 'orange')

In [ ]:
#convertingtouplestolisttoaddelements
x=("banana","apple","kiwi","")
y=list(x)
y[3]="orange"
x=tuple(y)
print (x)

('banana', 'apple', 'kiwi', 'orange')

In [ ]:

thisset={"apple","banana","cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

Sets are another data structures. The most useless collection istg.

In [ ]:
#add items in set
thisset={"apple","banana","cherry"}#single element
thisset.add("kiwi")
print(thisset)

{'cherry', 'banana', 'apple', 'kiwi'}

In [ ]:
thisset={"apple","banana","cherry"}#adding multiple elements
thisset.update(["kiwi","mango","orange"])
print(thisset)

{'cherry', 'apple', 'kiwi', 'banana', 'mango', 'orange'}

In [ ]:
x=["mango","apple","orange"]
t=("banana","grapes")
s=set()

In [ ]:
type(s)

set

In [ ]:
s

set()

In [ ]:
s.update(t)
s

{'banana', 'grapes'}

In [ ]:
s.update(x)
s

{'apple', 'banana', 'grapes', 'mango', 'orange'}

In [ ]:
type(x)

list

In [ ]:
a=(1,)
type(a)

tuple

In [ ]:
a=tuple((1,2))
a

(1, 2)

In [ ]:
x=int(input("enter value of x")) #user defined input

enter value of x1

In [ ]:
type(x)

int

Indexing

In [ ]:
l=[1,2,3,4,5,5]              
a=l[:]                            # prints all elements of list
a

[1, 2, 3, 4, 5, 5]

In [ ]:
l[-5:-3]                         # negative number means that number from last. -5:-3 mean print numbers 5th from last to third from last

[2, 3]

In [ ]:
l[1:-2]

[2, 3, 4]

**Basic mathematical operators**

In [ ]:
a=10
b=25
c=b/a
c

2.5

In [ ]:
2**4        # ** is used to raise the number on the left to the power of the exponent of the right.

16

In [ ]:
a=1.7
b=20
c=a**b
type(c)          #check type of a particular variable

float

In [ ]:
a=7     
b=6
a&b         #  & operator is same as that used in C

6

**Loops**

In [12]:
for x in range(2,6): #for loop
  print(x)

2
3
4
5

In [13]:
for x in range(2, 30, 3): #for loop with 3rd argument
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
l=[i for i in range(7)]
l

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
for i in range(1,6):
  if i==3:
    print("continue encountered")
    continue
  print (i)

1
2
continue encountered
4
5

In [ ]:
for i in range(1,6):  #used to execute some other thing at a particular point without disrupting the loop flow
  if i==3:
    print("pass encountered")
    pass
  print (i)

1
2
pass encountered
3
4
5

In [ ]:
l=[i for i in range(1,4)]
l

[1, 2, 3]

In [ ]:
for i in range (1,6):
  print()
  for i in range (1,i+1):
    print("*", sep='', end='')

*
**
***
****
*****

In [ ]:
for i in range(1,6): #string concatenation
  print("*"*i)

*
**
***
****
*****

In [ ]:
str="hello" #sting reversal
str[::-1]

'olleh'

**Print statement with format specifiers**

In [ ]:
print("Hello this is no. %d, float %5.2f" %(53.8094,20))

Hello this is no. 53, float 20.00

In [ ]:
print("this is % 10.3E" %(3567.5897))

this is  3.568E+03

In [ ]:
print("Hello this is no. {}, float {}" .format(53.8094,20)) #default 1-1, 0-0 indexing

Hello this is no. 53.8094, float 20

In [ ]:
print("Hello this is no. {1}, float {0}" .format(53.8094,20)) #format using indexing

Hello this is no. 20, float 53.8094

In [ ]:
print("Hello this is no. {b}, float {a}" .format(a=53.8094,b=20)) #name indexing

Hello this is no. 20, float 53.8094

In [ ]:
print("Hello this is no. {b}, float {a:.2f}" .format(a=5983.8094,b=20))

Hello this is no. 20, float 5983.81

**Lambda Function : ** A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
x=lambda a,b:a+b  #lambda function
print(x(2,3))

5

In [ ]:
n=int(input("Enter any number"))    #using lambda function
l=lambda n,i:n*i
for i in range(1,11):
  print(n,"X",i,"=",l(n,i))

Enter any number3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [ ]:
l=[1,2,3,4,5,6,12]
new_list=filter(lambda x:x%3==0,l)
type(new_list)

filter

In [ ]:
list(new_list)

[3, 6, 12]

()

In [ ]:
l=[1,2,3,4,5,6,7]
new=list(map(lambda x:x**2,l))
new

[1, 4, 9, 16, 25, 36, 49]

##Functions

In [ ]:
def sum(x,y):
  return x+y
x=int(input("Enter 1st number"))
y=int(input("Enter 2nd number"))
z=sum(x,y) 
print(z)

Enter 1st number2
Enter 2nd number3
5

In [ ]:
l=[1,2,3]
def change_list(l):
  l.append(4)
  l.append(5)
change_list(l) 
l

[1, 2, 3, 4, 5]

In [ ]:
s1="Hello"
def change_str(s):
  s=s+"world"
  print("Inside print:",s)
change_str(s1)
print("outside:",s1)

Inside print: Helloworld
outside: Hello

In [ ]:
s1="Hello"
def change_str(s):
  s=s+"world"
  print("Inside print:",s1)
change_str(s1)
print("outside:",s1)

Inside print: Hello
outside: Hello

In [ ]:
#calculating simple interest
def interest(p,r,t):
  s=p*r*t/100
  return s
p=int(input("Enter principal amount"))
r=int(input("Enter rate of interest"))
t=int(input("Enter time"))
s=interest(p,r,t)
print("Simple Interest is",s)

Enter principal amount1000
Enter rate of interest10
Enter time1
Simple Interest is 100.0

In [ ]:
#calculating simple interest by changing order of arguments(example of keyword arguments)
def interest(p,r,t):
  s=p*r*t/100
  return s
x=int(input("Enter principal amount"))
y=int(input("Enter rate of interest"))
z=int(input("Enter time"))
s=interest(t=z,r=y,p=x)
print("Simple Interest is",s)

Enter principal amount1000
Enter rate of interest10
Enter time1
Simple Interest is 100.0

In [ ]:
def xyz(message, name1, name2):
  print(message,name1,name2)
xyz("Hello", name1="ayush", name2="arushi")

Hello ayush arushi

In [ ]:
def xyz(name1, name2,message="hello"):  #default arguments should be declared at last
  print(message,name1,name2)
xyz(name1="ayush", name2="arushi")

hello ayush arushi

In [ ]:
def xyz(name1, name2,message="hello"): 
  print(message,name1,name2)
xyz(name1="ayush", name2="arushi", message="Bye")

Bye ayush arushi

In [ ]:
def var(*var_len):  #tuple is the datatype of variable length argument because it is immutable
  print(type(var_len))
  for i in var_len:
    print(i)
var("xy","yz","zx")

<class 'tuple'>
xy
yz
zx

In [ ]:
def var(*var_len):  #tuple is the datatype of variable length argument because it is immutable
  print(type(var_len))
  for i in range(3):
    print(var_len[i])
var("xy","yz","zx")

<class 'tuple'>
xy
yz
zx

In [ ]:
def sum(*var):
  s=0
  for i in var:
    s=s+i
  return s
sum(1,2,3,4)

10

In [ ]:
sum(2,4,6,3,2,3,2)

22

In [ ]:
def result(name,roll_no,*args):
  s=0
  for i in args:
    s=s+i
  n=len(args)
  mm=100*n
  per=s/mm*100
  print("Marks of student with name",name,"and roll number",roll_no,"is",per,"%")
result("xyz",1,81,92,63,48)

Marks of student with name xyz and roll number 1 is 71.0 %

In [ ]:
result("asd",3,88,92,67,53,89)

Marks of student with name asd and roll number 3 is 77.8 %

In [15]:
def result(name,roll_no,*args):
  s=0
  for i in args:
    s=s+i
  n=len(args)
  mm=100*n
  per=s/mm*100
  print("Marks of student with name",name,"and roll number",roll_no,"is",per,"%")
name=input("Enter name: ")
roll_no=int(input("Enter roll number: "))
result(name,roll_no,34,43,65,54)

Enter name: xyz
Enter roll number: 21
Marks of student with name xyz and roll number 21 is 49.0 %

In [16]:
def result(name,roll_no,args):
  s=0
  for i in args:
    s=s+i
  n=len(args)
  mm=100*n
  per=s/mm*100
  print("Marks of student with name",name,"and roll number",roll_no,"is",per,"%")
name=input("Enter name: ")
roll_no=int(input("Enter roll number: "))
marks=input("Enter marks: ")
t=tuple(map(int, marks.split(',')))

result(name,roll_no,t)

Enter name: xyz
Enter roll number: 21
Enter marks: 98
Marks of student with name xyz and roll number 21 is 98.0 %

In [18]:
name=input("Enter name: ")
roll_no=int(input("Enter roll number: "))
marks=input("enter the marks: ")
t=tuple(map(int, marks.split(',')))
t

Enter name: bleh
Enter roll number: 43
enter the marks: 21,43,21

(21, 43, 21)

In [21]:
def var(**var_len): 
  print(type(var_len))
  
var(a="xy",b="yz",c="zx")

<class 'dict'>

In [22]:
def var(**kwargs):                          #accessing dictionary items
  print(type(kwargs))
  for key, value in kwargs.items():
    print("%s=%s"%(key,value))
  
var(a="xy",b="yz",c="zx")

<class 'dict'>
a=xy
b=yz
c=zx

In [23]:
def var(**kwargs):                          #accessing dictionary items using another loop
  for i in kwargs:
    print(i,kwargs[i])
var(a="xy",b="yz",c="zx")

a xy
b yz
c zx

In [25]:
def result(name,roll_no,*args,**kwargs):
  s=0
  for i in args:
    s=s+i
  n=len(args)
  mm=100*n
  per=s/mm*100
  for key, value in kwargs.items():
    k=key
    v=value
  print("Marks of student with name",name,"and roll number",roll_no,"of class ",v,"is",per,"%")
name=input("Enter name: ")
roll_no=int(input("Enter roll number: "))
result(name,roll_no,34,43,65,54,cls="10th")

Enter name: cde
Enter roll number: 32
Marks of student with name cde and roll number 32 of class  10th is 49.0 %

In [27]:
def getMissingNo(a, n):  
    i, total = 0, 1
  
    for i in range(2, n + 2): 
        total += i 
        total -= a[i - 2] 
    return total 
  
# Driver Code 
arr = [6, 9, 8, 10] 
print(getMissingNo(arr, len(arr)))

-18